<div class="row">
	<div class="col-md-12 ">
		<div class="page-header title-header">
			<div class="row">
				<div class="col-md-6">
					<h2 class="text-left">Delete Employee </h2>
				</div>
				<div class="col-md-6">
					<h4 class="text-right">Welcome {{vm.usr['first_name']}} {{vm.usr['last_name']}} !</h4>
				</div>
			</div>
		</div>

		<div class="well bs-component wrapper">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					

					<form class="form-horizontal frm-employee" name="empForm" ng-submit="vm.deleteEmployee(empForm.$valid)" novalidate>
			   			<fieldset>
							<legend>Employee Form</legend>
							<div class="form-group" >
							  <label class="col-lg-4 control-label">First Name:</label>
							  <div class="col-lg-6">
							    <input type="text" name="first_name" ng-model="vm.empData.first_name" class="form-control" readonly="readonly">
							  </div>
							</div>
							<div class="form-group"  ng-class="{ 'has-error' : empForm.last_name.$invalid && !empForm.last_name.$pristine }">
							  <label class="col-lg-4 control-label">Last Name:</label>
							  <div class="col-lg-6">
							    <input type="text" name="last_name" ng-model="vm.empData.last_name" class="form-control" placeholder="Last Name" readonly="readonly">
							  </div>
							</div>
							<div class="form-group"  ng-class="{ 'has-error' : empForm.username.$invalid && !empForm.username.$pristine }">
							  <label class="col-lg-4 control-label">Username:</label>
							  <div class="col-lg-6">
							    <input type="text" name="username" ng-model="vm.empData.username" class="form-control" placeholder="Username" readonly="readonly">
							  </div>
							</div>
							<div class="form-group"  ng-class="{ 'has-error' : empForm.mobile.$invalid && !empForm.mobile.$pristine }">
							  <label class="col-lg-4 control-label">Mobile:</label>
							  <div class="col-lg-6">
							    <input type="tel" name="mobile" ng-model="vm.empData.mobile" class="form-control" placeholder="Mobile" readonly="readonly">
							  </div>
							</div>
							<div class="form-group"  ng-class="{ 'has-error' : empForm.email.$invalid && !empForm.email.$pristine }">
							  <label class="col-lg-4 control-label">Email:</label>
							  <div class="col-lg-6">
							    <input type="email" name="email" ng-model="vm.empData.email" class="form-control" placeholder="Email"readonly="readonly">
							  </div>
							</div>
							<div class="form-group"  ng-class="{ 'has-error' : empForm.gender.$invalid && !empForm.gender.$pristine }">
						      <label class="col-lg-4 control-label">Gender</label>
						      <div class="col-lg-6">
						        <div class="radio">
						          <label>
						            <input type="radio" name="gender" ng-model="vm.empData.gender" value="male" checked="checked" disabled>
						            Male
						          </label>
						        </div>
						        <div class="radio">
						          <label>
						            <input type="radio" name="gender" ng-model="vm.empData.gender" value="female" disabled>
						            Female
						          </label>
						        </div>
						      </div>
							</div>
							<div class="form-group"  ng-class="{ 'has-error' : empForm.dob.$invalid && !empForm.dob.$pristine }">
							  <label class="col-lg-4 control-label">Date of Birth: </label>
							  <div class="col-lg-6">
							    <input type="text" name="dob" ng-model="vm.empData.dob" class="form-control" placeholder="dob" readonly="readonly">
							  </div>
							</div>
							<div class="form-group"  ng-class="{ 'has-error' : empForm.department.$invalid && !empForm.department.$pristine }">
						      <label for="select" class="col-lg-4 control-label">Department</label>
						      <div class="col-lg-6">
						      	
						        <select class="form-control" id="department" name="department" ng-model="vm.empData.department" disabled>
						          <option value="" disabled selected>Select</option>
							      <option value="hr">HR</option>
							      <option value="it">IT</option>
							      <option value="office">Office</option>
							      <option value="marketing">Marketing</option>
							      <option value="security">Security</option>
						        </select>
						      </div>
						    </div>
						    <div class="form-group"  ng-class="{ 'has-error' : empForm.role.$invalid && !empForm.role.$pristine }">
						      <label for="select" class="col-lg-4 control-label" required>Role</label>
						      <div class="col-lg-6">
						        <select class="form-control" id="role" name="role" ng-model="vm.empData.role" disabled>
						          <option value="" disabled selected>Select</option>
							      <option value="admin">Admin</option>
							      <option value="user">User</option>
							    </select>
						      </div>
						    </div>
						    <div class="form-group"  ng-class="{ 'has-error' : empForm.password.$invalid && !empForm.password.$pristine }">
							  <label class="col-lg-4 control-label">Password</label>
							  <div class="col-lg-6">
							    <input type="password" class="form-control" name="password" ng-model="vm.empData.password" placeholder="Password" readonly="readonly">
							  </div>
							</div>
						    <div class="form-group">
					          <div class="col-lg-6 col-lg-offset-4">
					            <button type="submit" class="btn btn-danger" >Delete</button>
					          </div>
					        </div>
					        <div ng-show="vm.message" class="alert alert-dismissible" ng-class="{ 'alert-success' : vm.success == true, 'alert-danger' : vm.success == false }" >
					          <button type="button" class="close" data-dismiss="alert">×</button>
					          <p class="text-center"><strong>{{ vm.message }}</strong></p>
					        </div>
					        
					        
			   			</fieldset>
			   		</form>
				</div>
			</div>		
		</div>
	</div>
</div>
