<div class="row">
	<div class="col-md-12 ">
		<div class="page-header title-header">
			<div class="row">
				<div class="col-md-6">
					<h2 class="text-left">Employee List </h2>
				</div>
				<div class="col-md-6">
					<h4 class="text-right">Welcome {{vm.usr['first_name']}} {{vm.usr['last_name']}} !</h4>
				</div>
			</div>
		</div>
		
		<table class="table table-striped table-hover ">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>User Name</th>
		      <th>Mobile</th>
		      <th>Email</th>
		      <th>Department</th>
		      <th>Role</th>
		      <th>Actions</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr ng-repeat="employee in vm.employees">
		  		<td>{{employee.first_name}} {{employee.last_name}}</td>
		  		<td>{{employee.username}}</td>
		  		<td>{{employee.mobile}}</td>
		  		<td>{{employee.email}}</td>
		  		<td>{{employee.department}}</td>
		  		<td>{{employee.role}}</td>
		  		<td class="action">
		  			<a ui-sref="app.edit-employee({ id: {{employee.id}} })" class="text-danger" title="Edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
		      		<a href="#/delete-employee/{{employee.id}}" class="text-danger" title="Delete"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
		  		</td>
		  	</tr>
		   

		  </tbody>
		</table> 
		

	</div>
</div>
