<div class="row">
	<div class="col-md-12 ">
		<div class="page-header title-header">
			<div class="row">
				<div class="col-md-6">
					<h2 class="text-left">Leave List</h2>
				</div>
				<div class="col-md-6">
					<h4 class="text-right">Welcome {{vm.usr['first_name']}} {{vm.usr['last_name']}} !</h4>
				</div>
			</div>
		</div>
		
		<table class="table table-striped table-hover ">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Leave Type</th>
		      <th>Start Date</th>
		      <th>End Date</th>
		      <th>Reason</th>
		      <th>Grant</th>
		      <th>Comment</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr ng-repeat="leave in vm.leaves">
		  		<td>{{leave.username}}</td>
		  		<td>{{leave.leave_type}}</td>
		  		<td>{{leave.start_date}}</td>
		  		<td>{{leave.end_date}}</td>
		  		<td>{{leave.reason}}</td>
		  		<td>
		  			<strong ng-show="leave.approve == ''" class="text-info cap">waiting</strong>
		  			<strong ng-show="leave.approve == 'deny'" class="text-danger cap">{{leave.approve}}</strong>
		  			<strong ng-show="leave.approve == 'approve'" class="text-success cap">{{leave.approve}}</strong>
		  		</td>
		  		<td>{{leave.comment}}</td>
		  	</tr>
		   

		  </tbody>
		</table> 
		

	</div>
</div>
